/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lobster&family=Roboto+Slab:wght@500&display=swap');

body {
  background-color: #CCC5B9;
}

a {
  text-decoration: none !important;
}

.header-title {
  font-family: 'Lobster', cursive;
  font-size: 8em;
  color: #fff;
  text-shadow: 0 0 10px #500;
}

.header-sub-title {
  font-family: 'Bree Serif', serif;
  font-size: 2em;
  color: #454B66;
}

.current-user {
  font-size: 50px;
  font-weight: bold;
}

.big-button {
  font-size: 30px;
  font-weight: bold;
  color: #CCC5B9;
  background-color: #EB5E28;
  border-radius: 10px;
  border: 2px solid #454B66;
  font-family: 'Bree Serif', serif;
}

.big-button:hover {
  background-color: #454B66;
  color: #EB5E28;
}

ul {
  list-style-type: none;
  font-family: 'Roboto Slab', serif;
  font-size: 1.5em;
  margin-bottom: 0 !important;
}

.arrow {
  height: 1.5em;
}

.link-box {
  font-size: 1em;
  background-color: whitesmoke !important;
  border: 2px solid #454B66 !important;
}

.footer {
  background-color: #454B66;
  color: #500;
  font-family: 'Roboto Slab', serif;
}

.brand-icon {
  color: #CCC5B9;
  height: 20px;
}

.brand-icon:hover {
  color: #EB5E28;
}